.body {
    background-color: bisque;
}


.navigation {
    flex: 1;
    flex-wrap: wrap;
    background-color: rgb(14, 62, 157);
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    border: 0vh;
}